/* Importa a fonte Chakra Petch do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --cor-principal: #228b22; /* Verde musgo */
  --cor-secundaria: #305e32; /* Verde escuro */
  --cor-texto-principal: #f5f5f5; /* Cinza escuro */
  --cor-texto-secundario: #707275; /* Cinza claro */
  --cor-input-fundo: #181a1b; /* Fundo do input */
}

/* Estiliza o corpo da página */
body {
  font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
  background-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.2) 50%,
      transparent
    ),
    url("images/background-image.webp");
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  height: 100vh; /* Preenche a altura total da viewport */
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o padding padrão */
}

/* Estiliza os títulos h1 */
h1 {
  font-size: 2.5rem; /* Tamanho da fonte */
  color: var(--cor-texto-principal); /* Cor do texto */
  filter: drop-shadow(0 2px 2px #ddd);
  text-align: center; /* Alinha o texto ao centro */
  letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

a {
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  color: var(--cor-texto-principal); /* Cor do texto dos links */
  text-shadow: -1px -1px 0 var(--cor-secundaria),
    1px -1px 0 var(--cor-secundaria), -1px 1px 0 var(--cor-secundaria),
    1px 1px 0 var(--cor-secundaria);
}

/* Estiliza os links quando são passados o mouse sobre */
a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
  filter: drop-shadow(0 2px 2px var(--cor-principal));
}

/* Estiliza as seções da página */
section {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  margin-bottom: 1rem; /* Espaçamento abaixo de cada seção */
  justify-content: space-between;
}

/* Estiliza os inputs dentro das seções */
section input {
  width: 30rem; /* Largura dos inputs */
  border: none; /* Remove a borda padrão */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 5px; /* Borda arredondada */
  margin-bottom: 0.5rem; /* Espaçamento abaixo dos inputs */
  background-color: var(--cor-input-fundo); /* Cor principal do texto */
  color: var(--cor-texto-principal); /* Cor secundária do texto */
  font-size: 1rem; /* Tamanho da fonte */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

section input:focus {
  outline: none !important;
  border: 1px solid var(--cor-principal);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

section input::placeholder {
  color: var(--cor-texto-secundario);
}

section span {
  margin: 0;
}

/* Estiliza os botões dentro das seções */
section button {
  padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
  margin-top: 0.5rem; /* Margem acima do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 1.5rem; /* Borda arredondada */
  background-color: #308030; /* Cor de fundo do botão */
  color: #f5f7f8; /* Cor do texto do botão */
  font-size: 1rem; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  background-position: center;
  transition: background 0.8s;
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
  background: var(--cor-secundaria)
    radial-gradient(circle, #0000 1%, var(--cor-secundaria) 1%) center/15000%;
}

section button:active {
  background-color: var(--cor-principal);
  background-size: 100%;
  transition: background 0s;
}

#error {
  visibility: hidden;
  color: red;
  font-weight: bold;
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
  width: 60rem; /* Largura máxima da caixa de resultados */
  height: 46vh; /* Altura máxima da caixa de resultados */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
  margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
  padding: 1rem; /* Espaçamento interno */
  border-radius: 0.6rem; /* Borda arredondada */
  scrollbar-color: var(--cor-texto-principal) var(--cor-input-fundo); /* Cor da barra de rolagem */
  scrollbar-width: thin; /* Espessura da barra de rolagem */
}

/* Estiliza cada item de resultado */
.item-resultado {
  background-color: rgba(0, 0, 0, 0.2); /* Fundo claro transparente */
  backdrop-filter: blur(
    5px
  ); /* Adiciona um efeito de blur para suavizar às bordas */
  border-radius: 0.6rem; /* Borda arredondada */
  padding: 1rem; /* Espaçamento interno */
  margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
  font-size: 1.5rem; /* Tamanho da fonte */
  color: var(--cor-texto-principal); /* Cor do texto */
  filter: drop-shadow(0 2px 2px #505050);
}

.item-resultado img {
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 0.6rem;
}

.item-resultado div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
  display: flex;
  flex-direction: column;
  color: var(--cor-texto-principal); /* Cor do texto */
  margin: 0.5rem 0; /* Margem acima e abaixo */
  background-color: rgba(0, 0, 0, 0.4); /* Transparência de 80% */
  backdrop-filter: blur(
    5px
  ); /* Adiciona um efeito de blur para suavizar as bordas */
  border-radius: 0.6rem; /* Borda arredondada */
  padding: 1rem; /* Espaçamento interno */
  margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza o rodapé da página */
footer {
  background-color: rgba(0, 0, 0, 0.2); /* Transparência de 80% */
  backdrop-filter: blur(
    5px
  ); /* Adiciona um efeito de blur para suavizar as bordas */
  color: var(--cor-texto-principal); /* Cor do texto */
  text-align: center; /* Alinha o texto ao centro */
  padding: 0; /* Espaçamento interno */
  width: 100%; /* Largura total da página */
  position: absolute; /* Posiciona o rodapé */
  bottom: 0; /* Alinha ao fundo da página */
  font-size: 1rem; /* Tamanho da fonte */
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Tamanho da fonte em telas menores */
    letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
  }

  section input {
    width: 25rem; /* Largura dos inputs em telas menores */
    padding: 0.8rem; /* Espaçamento interno em telas menores */
  }

  .resultados-pesquisa {
    width: 40rem; /* Largura da caixa de resultados em telas menores */
    height: 40vh; /* Altura da caixa de resultados em telas menores */
  }

  .item-resultado h2 {
    font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
  }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
    letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
  }

  section input {
    width: 17rem; /* Largura total dos inputs em telas pequenas */
  }

  section button {
    padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
    font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
  }

  .resultados-pesquisa {
    width: 90%; /* Largura da caixa de resultados em telas pequenas */
    height: 50vh; /* Altura da caixa de resultados em telas pequenas */
  }

  .item-resultado h2 {
    font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
  }

  footer {
    font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
  }
}
